<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="TAT_DWBI_ODS" connectionString="" providerName="System.Data.SqlClient" />
    <add name="Hamyar" connectionString="" providerName="System.Data.SqlClient" />
    <add name="AbisLoan" connectionString="" providerName="System.Data.SqlClient" />
    <add name="VIP" connectionString="" providerName="System.Data.SqlClient" />
    <add name="BranchMarketing" connectionString="" providerName="System.Data.SqlClient" />

    <add name="IranNara" connectionString="" providerName="System.Data.SqlClient" />
    <add name="Delinquent" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="secureHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="SayadServicesSoap" />
        <binding name="SayadServicesSoapSSL">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webBinding">
          <security mode="Transport">
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>

      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="SayadServicesSoapSSL" contract="SayadWithSSL.SayadServicesSoap" name="SayadServicesSoapSSL" />
    </client>
    <services>
      <!--HTTP-->
      <!--<service name="RahyabServices.Business.Contracts.Implementations.DelinquentCoreServiceContract" behaviorConfiguration="metadataBehavior">
        <endpoint address="" binding="wsDualHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IDelinquentCoreServiceContract" name="DualHttpBinding_Delinquent" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="RahyabServices.Business.Contracts.Implementations.DelinquentServiceContract" behaviorConfiguration="metadataBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IDelinquentServiceContract" name="BasicHttpBinding_Delinquent" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="RahyabServices.Business.Contracts.Implementations.DelinquentServiceRestContract">
        <endpoint address="" binding="basicHttpBinding" name="basicService" contract="RahyabServices.Business.Contracts.Interfaces.IDelinquentServiceRestContract" bindingConfiguration="">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="mexService" contract="IMetadataExchange" />
        <endpoint address="json" behaviorConfiguration="restfulBehaviorJSON" binding="webHttpBinding" bindingConfiguration="" name="xmlService" contract="RahyabServices.Business.Contracts.Interfaces.IDelinquentServiceRestContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="RahyabServices.Business.Contracts.Implementations.SuppliesRestContract">
        <endpoint address="" binding="basicHttpBinding" name="basicService" contract="RahyabServices.Business.Contracts.Interfaces.ISuppliesRestContract" bindingConfiguration="">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="mexService" contract="IMetadataExchange" />
        <endpoint address="json" behaviorConfiguration="restfulBehaviorJSON" binding="webHttpBinding" bindingConfiguration="" name="xmlService" contract="RahyabServices.Business.Contracts.Interfaces.ISuppliesRestContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        --><!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/DelinquentServiceRestContract/" />
          </baseAddresses>
        </host>--><!--
      </service>-->
      <!-- http -->
      <!--<service name="RahyabServices.Business.Contracts.Implementations.VipBankingRestContract">
        <endpoint address="" binding="basicHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IVipBankingRestContract"/>
        <endpoint address="json" behaviorConfiguration="restfulBehaviorJSON" binding="webHttpBinding" bindingConfiguration=""
                  name="xmlService" contract="RahyabServices.Business.Contracts.Interfaces.IVipBankingRestContract">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>-->
      <!-- https -->
      <service name="RahyabServices.Business.Contracts.Implementations.VipBankingRestContract">
        <endpoint address="" binding="basicHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IVipBankingRestContract" bindingConfiguration="secureHttpBinding">
        </endpoint>
        <endpoint address="json" behaviorConfiguration="restfulBehaviorJSON" binding="webHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IVipBankingRestContract" bindingConfiguration="webBinding">
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" name="mexService" contract="IMetadataExchange" />
      </service>
      
      <service name="RahyabServices.Business.Contracts.Implementations.HrRestContract">
        <endpoint address="" binding="basicHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IHrRestContract" bindingConfiguration="secureHttpBinding">
        </endpoint>
        <endpoint address="json" behaviorConfiguration="restfulBehaviorJSON" binding="webHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IHrRestContract" bindingConfiguration="webBinding">
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" name="mexService" contract="IMetadataExchange" />

      </service>
      <service name="RahyabServices.Business.Contracts.Implementations.TatRestContract">
        <endpoint address="" binding="basicHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.ITatRestContract" bindingConfiguration="secureHttpBinding">
        </endpoint>
        <endpoint address="json" behaviorConfiguration="restfulBehaviorJSON" binding="webHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.ITatRestContract" bindingConfiguration="webBinding">
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" name="mexService" contract="IMetadataExchange" />
      </service>
      
      <service name="RahyabServices.Business.Contracts.Implementations.SuppliesRestContract">
        <endpoint address="" binding="basicHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.ISuppliesRestContract" bindingConfiguration="secureHttpBinding">
        </endpoint>
        <endpoint address="json" behaviorConfiguration="restfulBehaviorJSON" binding="webHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.ISuppliesRestContract" bindingConfiguration="webBinding">
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" name="mexService" contract="IMetadataExchange" />
      </service>

      <service name="RahyabServices.Business.Contracts.Implementations.ParsLogicRestContract">
        <endpoint address="" binding="basicHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IParsLogicRestContract" bindingConfiguration="secureHttpBinding">
        </endpoint>
        <endpoint address="json" behaviorConfiguration="restfulBehaviorJSON" binding="webHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IParsLogicRestContract" bindingConfiguration="webBinding">
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" name="mexService" contract="IMetadataExchange" />

      </service>
      
      <!--RestService-->
      <service name="RahyabServices.Business.Contracts.Implementations.MiscRestContract">
        <endpoint address="" binding="basicHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IMiscRestContract" bindingConfiguration="secureHttpBinding">
        </endpoint>
        <endpoint address="json" behaviorConfiguration="restfulBehaviorJSON" binding="webHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IMiscRestContract" bindingConfiguration="webBinding">
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" name="mexService" contract="IMetadataExchange" />
      </service>
      <!--SoapService-->
      <service name="RahyabServices.Business.Contracts.Implementations.MiscContract"  behaviorConfiguration="metadataBehavior">
        <endpoint address="" binding="basicHttpsBinding" contract="RahyabServices.Business.Contracts.Interfaces.IMiscContract" />
      </service>
      
      
      <service name="RahyabServices.Business.Contracts.Implementations.FinanceRestContract">
        <endpoint address="" binding="basicHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IFinanceRestContract" bindingConfiguration="secureHttpBinding">
        </endpoint>
        <endpoint address="json" behaviorConfiguration="restfulBehaviorJSON" binding="webHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IFinanceRestContract" bindingConfiguration="webBinding">
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" name="mexService" contract="IMetadataExchange" />
      </service>
      
      <service name="RahyabServices.Business.Contracts.Implementations.FaraFekRestContract">
        <endpoint address="" binding="basicHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IFaraFekRestContract" bindingConfiguration="secureHttpBinding">
        </endpoint>
        <endpoint address="json" behaviorConfiguration="restfulBehaviorJSON" binding="webHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IFaraFekRestContract" bindingConfiguration="webBinding">
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" name="mexService" contract="IMetadataExchange" />
      </service>
      
       <service name="RahyabServices.Business.Contracts.Implementations.AdanicRestContract">
        <endpoint address="" binding="basicHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IAdanicRestContract" bindingConfiguration="secureHttpBinding">
        </endpoint>
        <endpoint address="json" behaviorConfiguration="restfulBehaviorJSON" binding="webHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IAdanicRestContract" bindingConfiguration="webBinding">
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" name="mexService" contract="IMetadataExchange" />
      </service>

      <service name="RahyabServices.Business.Contracts.Implementations.BranchMarketingRestContract">
        <endpoint address="" binding="basicHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IBranchMarketingRestContract" bindingConfiguration="secureHttpBinding">
        </endpoint>
        <endpoint address="json" behaviorConfiguration="restfulBehaviorJSON" binding="webHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IBranchMarketingRestContract" bindingConfiguration="webBinding">
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" name="mexService" contract="IMetadataExchange" />
      </service>

      <service name="RahyabServices.Business.Contracts.Implementations.AbsorbResourcesRestContract">
        <endpoint address="" binding="basicHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IAbsorbResourcesRestContract" bindingConfiguration="secureHttpBinding">
        </endpoint>
        <endpoint address="json" behaviorConfiguration="restfulBehaviorJSON" binding="webHttpBinding" contract="RahyabServices.Business.Contracts.Interfaces.IAbsorbResourcesRestContract" bindingConfiguration="webBinding">
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" name="mexService" contract="IMetadataExchange" />
      </service>

    </services>

    <behaviors>

      <endpointBehaviors>
        <behavior name="restfulBehaviorJSON">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
           <serviceMetadata  httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept, Authorization" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
        
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>